:root {
    --layout-bg: #170f23;
    --layout-header-bg: rgba(23, 15, 35, 0.8);
    --player-bg: #130c1c;
    --sidebar-popup-bg: #2a213a;
    --sidebar-bg: hsla(0, 0%, 100%, 0.05);
    --primary-bg: #34224f;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(23, 15, 35, 0.95) 55.21%, rgba(23, 15, 35, 0.6));
    --alpha-layout-bg: rgba(41, 21, 71, 0.8);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
    --purple-primary: #9b4de0;
    --link-text-hover: #c273ed;
    --chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
    --text-primary: #fff;
    --border-primary: hsla(0, 0%, 100%, 0.1);
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --text-item-hover: #fff;
    --background-logo: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
    --text-secondary: hsla(0, 0%, 100%, 0.5);
}

.btn--disable {
    opacity: 0.3 !important;
    cursor: default !important;
    user-select: none !important;
}

.mt--30 {
    margin-top: 30px !important;
}

.no-wrap {
    display: flex;
    flex-wrap: nowrap !important;
}

.display_none {
    display: none;
}