:root,
[data-theme=green-light],
[data-theme=light],
[data-theme=pink-light],
[data-theme=yellow] {
    --background-logo: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
    --background-tooltip: #e8e8e8;
    --plus-package: #8e4cff;
    --premium-package: #dca519;
    --white: #fff;
    --black: #32323d;
    --yellow: #f8e71c;
    --blue: #4a90e2;
    --green: #50e3c2;
    --red: #e35050;
    --gray: #dbdbdb;
    --dark-alpha-10: rgba(0, 0, 0, 0.1);
    --dark-alpha-50: rgba(0, 0, 0, 0.5);
    --dark-alpha-80: rgba(0, 0, 0, 0.8);
    --hover-tooltip-opacity: hsla(0, 0%, 100%, 0.3);
    --primary-bg: #fff;
    --layout-bg: #fff;
    --layout-header-bg: hsla(0, 0%, 100%, 0.8);
    --sidebar-bg: rgba(0, 0, 0, 0.05);
    --sidebar-popup-bg: #f2f2f2;
    --alpha-bg: rgba(0, 0, 0, 0.05);
    --contrast-bg: rgba(20, 20, 20, 0.4);
    --contrast-color: rgba(254, 255, 255, 0.8);
    --gradient-latest-section-artist: linear-gradient(286.07deg, hsla(0, 0%, 100%, 0.95) 55.21%, hsla(0, 0%, 100%, 0.6));
    --loading-bg: rgba(0, 0, 0, 0.05);
    --loading-bg-animation: #f5f5f5;
    --scroll-thumb-bg: rgba(0, 0, 0, 0.1);
    --box-item-bg: #fff;
    --artist-layout-bg: hsla(0, 0%, 100%, 0.8);
    --alpha-layout-bg: rgba(12, 3, 3, 0.8);
    --tab-active-bg: #fff;
    --queue-player-popup-bg: #fff;
    --progressbar-active-bg: var(--purple-primary);
    --progressbar-player-bg: rgba(0, 0, 0, 0.1);
    --kara-btn-bg: hsla(0, 0%, 100%, 0.1);
    --player-bg: #fff;
    --select-bg: rgba(0, 0, 0, 0.15);
    --text-primary: #32323d;
    --text-secondary: rgba(0, 0, 0, 0.6);
    --purple-primary: #8d22c3;
    --text-item-hover: #8d22c3;
    --link-text-hover: #8d22c3;
    --player-text: #32323d;
    --text-muted: rgba(20, 20, 20, 0.4);
    --search-text: #282828;
    --text-placeholder: #757575;
    --setting-icon-text: #495057;
    --navigation-text: #32323d;
    --song-item-action: rgba(50, 50, 61, 0.5);
    --border-primary: rgba(0, 0, 0, 0.1);
    --border-secondary: rgba(0, 0, 0, 0.05);
    --border-box: rgba(0, 0, 0, 0.2);
    --spotlight-item: #f1f1f1;
    --border-player: rgba(0, 0, 0, 0.05);
    --main-box-shadow: hsla(0, 0%, 81.2%, 0.4);
    --new-release-box-shadow: hsla(0, 0%, 81.2%, 0.4);
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.08);
    --notify-box-shadow: rgba(0, 0, 0, 0.2);
    --portal-menu-box-shadow: rgba(0, 0, 0, 0.3);
    --main-text-stroke: #6b3483;
    --chart-bg-img-alpha: hsla(0, 0%, 100%, 0.9);
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.5);
    --chart-logo-color: #000;
    --padding-section: 59px
}



[data-theme=gray],
[data-theme=green-light],
[data-theme=pink-light] {
    --box-item-bg: hsla(0, 0%, 100%, 0.3);
    --tab-active-bg: hsla(0, 0%, 100%, 0.3);
    --box-hot-item-bg: rgba(254, 255, 255, 0.2);
    --box-hot-item-bg-hover: rgba(254, 255, 255, 0.3);
    --text-secondary: #696969
}

[data-theme=light] {
    --box-hot-item-bg: rgba(20, 20, 20, 0.05);
    --box-hot-item-bg-hover: rgba(20, 20, 20, 0.1)
}

[data-theme=pink-light] {
    --layout-bg: #f9dbdb;
    --layout-header-bg: rgba(249, 219, 219, 0.8);
    --sidebar-bg: hsla(0, 0%, 100%, 0.3);
    --sidebar-popup-bg: #fbd3d2;
    --primary-bg: #fde8e8;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(249, 219, 219, 0.95) 55.21%, rgba(249, 219, 219, 0.6));
    --queue-player-popup-bg: #f9dbdb;
    --blur-queue-bg: rgba(249, 219, 219, 0.9019607843137255);
    --player-bg: #f9c6c5;
    --artist-layout-bg: rgba(249, 219, 219, 0.8);
    --purple-primary: #b72479;
    --text-item-hover: #b72479;
    --link-text-hover: #b72479;
    --chart-bg-img-alpha: rgb(249 219 219/0.9)
}

[data-theme=green-light] {
    --layout-bg: #ced9d9;
    --layout-header-bg: rgba(206, 217, 217, 0.8);
    --player-bg: #c0d8d8;
    --sidebar-bg: hsla(0, 0%, 100%, 0.3);
    --sidebar-popup-bg: #cce0e0;
    --alpha-bg: hsla(0, 0%, 100%, 0.3);
    --queue-player-popup-bg: #ced9d9;
    --blur-queue-bg: rgba(206, 217, 217, 0.9019607843137255);
    --primary-bg: #e0ebeb;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(206, 217, 217, 0.95) 55.21%, rgba(206, 217, 217, 0.6));
    --artist-layout-bg: rgba(206, 217, 217, 0.8);
    --purple-primary: #0e8080;
    --text-item-hover: #0f7070;
    --link-text-hover: #0f7070;
    --chart-bg-img-alpha: rgb(206 217 217/0.9)
}

[data-theme=gray] {
    --layout-bg: #e5e3df;
    --layout-header-bg: rgba(229, 227, 223, 0.8);
    --primary-bg: #f7f5f3;
    --player-bg: #dedad1;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(229, 227, 223, 0.95) 55.21%, rgba(229, 227, 223, 0.6));
    --queue-player-popup-bg: #e5e3df;
    --blur-queue-bg: rgba(229, 227, 223, 0.9019607843137255);
    --artist-layout-bg: rgba(229, 227, 223, 0.8);
    --purple-primary: #644646;
    --text-item-hover: #844d4d;
    --link-text-hover: #844d4d;
    --chart-bg-img-alpha: rgb(229 227 223/90%)
}

[data-theme=blue-light],
[data-theme=blue],
[data-theme=brown],
[data-theme=dark],
[data-theme=green],
[data-theme=pink],
[data-theme=purple],
[data-theme=red] {
    --layout-bg: #1e1e1e;
    --layout-header-bg: rgba(30, 30, 30, 0.8);
    --sidebar-bg: hsla(0, 0%, 100%, 0.05);
    --sidebar-popup-bg: #292929;
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --contrast-bg: rgba(254, 255, 255, 0.4);
    --contrast-color: rgba(20, 20, 20, 0.8);
    --primary-bg: #333;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(30, 30, 30, 0.95) 55.21%, rgba(30, 30, 30, 0.6));
    --loading-bg: hsla(0, 0%, 100%, 0.1);
    --loading-bg-animation: hsla(0, 0%, 100%, 0.1);
    --scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
    --box-item-bg: hsla(0, 0%, 100%, 0.1);
    --box-hot-item-bg: rgba(254, 255, 255, 0.05);
    --box-hot-item-bg-hover: rgba(254, 255, 255, 0.1);
    --alpha-layout-bg: rgba(12, 3, 3, 0.8);
    --artist-layout-bg: var(--alpha-layout-bg);
    --tab-active-bg: hsla(0, 0%, 100%, 0.3);
    --queue-player-popup-bg: #2d2f32;
    --kara-btn-bg: hsla(0, 0%, 100%, 0.1);
    --player-bg: #181818;
    --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
    --progressbar-active-bg: #fff;
    --select-bg: hsla(0, 0%, 100%, 0.15);
    --text-primary: #fff;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --purple-primary: #9b4de0;
    --link-text-hover: #c273ed;
    --text-item-hover: #fff;
    --player-text: #fff;
    --text-muted: rgba(254, 255, 255, 0.6);
    --search-text: #eee;
    --text-placeholder: #757575;
    --setting-icon-text: #d8d8d8;
    --navigation-text: #a0a0a0;
    --song-item-action: hsla(0, 0%, 100%, 0.5);
    --border-primary: hsla(0, 0%, 100%, 0.1);
    --border-secondary: hsla(0, 0%, 100%, 0.05);
    --border-box: hsla(0, 0%, 100%, 0.2);
    --spotlight-item: #130223;
    --border-player: hsla(0, 0%, 100%, 0.1);
    --main-box-shadow: rgba(66, 66, 66, 0.4);
    --new-release-box-shadow: none;
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.2);
    --notify-box-shadow: rgba(0, 0, 0, 0.6);
    --portal-menu-box-shadow: rgba(0, 0, 0, 0.7);
    --main-text-stroke: #fff;
    --chart-bg-img-alpha: rgba(30, 30, 30, 0.9);
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
    --chart-logo-color: #fff
}

[data-theme=blue-light],
[data-theme=blue],
[data-theme=brown],
[data-theme=green],
[data-theme=pink],
[data-theme=purple],
[data-theme=red] {
    --text-placeholder: #dadada;
    --navigation-text: #dadada;
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.1);
    --portal-menu-box-shadow: rgba(0, 0, 0, 0.2)
}

[data-theme=purple] {
    --layout-bg: #170f23;
    --layout-header-bg: rgba(23, 15, 35, 0.8);
    --player-bg: #130c1c;
    --sidebar-popup-bg: #2a213a;
    --primary-bg: #34224f;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(23, 15, 35, 0.95) 55.21%, rgba(23, 15, 35, 0.6));
    --alpha-layout-bg: rgba(41, 21, 71, 0.8);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
    --purple-primary: #9b4de0;
    --link-text-hover: #c273ed;
    --chart-bg-img-alpha: rgba(32, 19, 53, 0.9)
}

[data-theme=purple],
[data-theme=red] {
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05)
}

[data-theme=red] {
    --layout-bg: #2e0f10;
    --layout-header-bg: rgba(46, 15, 16, 0.8);
    --player-bg: #3b1113;
    --sidebar-popup-bg: #7a2922;
    --primary-bg: #522325;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(46, 15, 16, 0.95) 55.21%, rgba(46, 15, 16, 0.6));
    --alpha-layout-bg: rgba(115, 23, 23, 0.8);
    --queue-player-popup-bg: #561111;
    --blur-queue-bg: rgba(115, 23, 23, 0.9019607843137255);
    --purple-primary: #ca4954;
    --link-text-hover: #f2636f;
    --chart-bg-img-alpha: rgba(115, 23, 23, 0.9)
}

[data-theme=blue] {
    --layout-bg: #0f1a2e;
    --layout-header-bg: rgba(15, 26, 46, 0.8);
    --player-bg: #111f3b;
    --sidebar-popup-bg: #1d2a49;
    --primary-bg: #173b45;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(15, 26, 46, 0.95) 55.21%, rgba(15, 26, 46, 0.6));
    --alpha-layout-bg: rgba(16, 31, 63, 0.8);
    --queue-player-popup-bg: #223c75;
    --blur-queue-bg: rgba(16, 31, 63, 0.9019607843137255);
    --purple-primary: #158370;
    --link-text-hover: #0daf94;
    --chart-bg-img-alpha: rgba(16, 31, 63, 0.9);
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05)
}

[data-theme=blue-light] {
    --layout-bg: #162a45;
    --layout-header-bg: rgba(22, 42, 69, 0.8);
    --player-bg: #172f4f;
    --sidebar-popup-bg: #2a4162;
    --primary-bg: #203d65;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(22, 42, 69, 0.95) 55.21%, rgba(22, 42, 69, 0.6));
    --alpha-layout-bg: rgba(29, 55, 90, 0.8);
    --queue-player-popup-bg: #0b274c;
    --blur-queue-bg: rgba(29, 55, 90, 0.9019607843137255);
    --purple-primary: #3b68ef;
    --link-text-hover: #429eff;
    --chart-bg-img-alpha: rgba(29, 55, 90, 0.9);
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05)
}

[data-theme=green] {
    --layout-bg: #142922;
    --layout-header-bg: rgba(20, 41, 34, 0.8);
    --player-bg: #19342c;
    --sidebar-popup-bg: #244f3f;
    --primary-bg: #204b3d;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(20, 41, 34, 0.95) 55.21%, rgba(20, 41, 34, 0.6));
    --alpha-layout-bg: rgba(18, 69, 52, 0.8);
    --queue-player-popup-bg: #0c523a;
    --blur-queue-bg: rgba(18, 69, 52, 0.9019607843137255);
    --purple-primary: #138673;
    --link-text-hover: #0daf94;
    --chart-bg-img-alpha: rgba(18, 69, 52, 0.9)
}

[data-theme=brown],
[data-theme=green] {
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05)
}

[data-theme=brown] {
    --layout-bg: #251b18;
    --layout-header-bg: rgba(37, 27, 24, 0.8);
    --player-bg: #30201d;
    --sidebar-popup-bg: #604a45;
    --primary-bg: #46312b;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(37, 27, 24, 0.95) 55.21%, rgba(37, 27, 24, 0.6));
    --alpha-layout-bg: rgba(87, 64, 59, 0.8);
    --queue-player-popup-bg: #63423c;
    --blur-queue-bg: rgba(87, 64, 59, 0.9019607843137255);
    --purple-primary: #b65f20;
    --link-text-hover: #e96f16;
    --chart-bg-img-alpha: rgba(87, 64, 59, 0.9)
}

[data-theme=pink] {
    --layout-bg: #411636;
    --layout-header-bg: rgba(65, 22, 54, 0.8);
    --player-bg: #4c1a3f;
    --sidebar-popup-bg: #883c6c;
    --primary-bg: #642654;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(65, 22, 54, 0.95) 55.21%, rgba(65, 22, 54, 0.6));
    --alpha-layout-bg: rgba(128, 0, 100, 0.8);
    --queue-player-popup-bg: #800064;
    --blur-queue-bg: rgba(128, 0, 100, 0.9019607843137255);
    --purple-primary: #ca4974;
    --link-text-hover: #e9638f;
    --gradient-bg: linear-gradient(96deg, #ff64dc, #d631a1 102%);
    --chart-bg-img-alpha: rgba(142, 51, 122, 0.9);
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05)
}

.btn--disable {
    opacity: 0.3 !important;
    cursor: default !important;
    user-select: none !important;
}

.mt--30 {
    margin-top: 30px !important;
}

.no-wrap {
    display: flex;
    flex-wrap: nowrap !important;
}

.display_none {
    display: none;
}

.no-padding {
    padding: 0 !important;
}

.center {
    text-align: center !important;
}

.action-playing {
    width: 18px;
    height: 18px;
    background-image: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50%;
}

body ::-webkit-scrollbar {
    width: 6px;
}

body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

.bi-heart,
.fa-circle-play,
.bi-three-dots {
    color: #fff;
}

.player-icon {
    color: var(--player-text);
}